.header-color{
  /*green beach gradient from uigradients.com*/
  background: #02AAB0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
}

.landing-grid{
  /*green beach gradient from uigradients.com*/
  background: #02AAB0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner-text {
  background-color: white;
  opacity: .8;
  width: 60%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {  
  font-weight: bold;
  color: black;
}

.banner-text hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: black;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: #02AAB0;
  font-size: 3em;
  padding: 8px;
}

.projects-grid {
  display: flex;
}

.avatar-img{
  height: 250px;
  padding: 5em;
}

.resume-img{     
    width:80%; /*image width */
    padding: 5em;
    
}
.document{
display: flex;
justify-content: center;
align-items: center;
  
}

@media only screen and (max-width: 600px) {
  .avatar-img{
    height: 250px;
    padding: 2.5em;
  }

  .banner-text h1 {  
    font-weight: bold;
    color: black;
    font-size: 40px;
  }
} 